@tailwind base;
@tailwind components;
@tailwind utilities;

.chart-container {
    position: relative;
    height: 40vh;
    width: 80vw;
  }
  .fixed.inset-0.z-40 {
    overflow-y: auto;
  }

  /* Spinner Animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
}
